<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="title" content="<%= title %>">
    <meta name="google-site-verification" content="GI5NQo4gO9wmNj3_u653Won-jzDQxLuT2oWfWnAnbas" />
    <meta name="description" content="<%= description %>">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@22.0.2/build/css/intlTelInput.css">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="/css/advertisement.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/webdevelopment.css">
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FZVQLLDS0B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FZVQLLDS0B');
</script>

<body>
  

    <%- include("../includes/navbar") %>
        <%- body %>
            <%- include("../includes/footer") %>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@22.0.2/build/js/intlTelInput.min.js"></script>

                <script src="/js/new.js"></script>
                <script src="/js/script.js"></script>
                <script src="/js/script2.js"></script>
                <script src="/js/other.js"></script>


</body>

</html>