<% layout("/layouts/boilerplate") %>
    <style>
        .bl {
            background-color: black;
        }

        .blog-page {
            margin-top: 10rem;
            margin-bottom: 4rem;
        }

        .blog-page-cont {
            margin-top: 2rem;
        }
        .latestBlogs{
            display: none;
        }
        .popularBlogs{
            display: none;
        }
        .allBlogs, .latestBlogs, .popularBlogs {
        display: none;
    }
    .allBlogs {
        display: flex; /* Show all blogs by default */
    }
    .active {
        background: #000 !important;
        color: white;
    }

    .allBlogbtn, .latestBlogbtn, .popularBlogbtn, .uploadblog{
        /* border: none;
        background-color: #C4C800;
        color: #000;
        font-weight: bold;
        padding: .6rem 2rem;
        border-radius: 8px; */
        display: inline-block !important;
        padding: 10px 20px !important;
        margin-right: 10px !important;
        background: #f0f0f0;
        border-radius: 5px !important;
        cursor: pointer;
        white-space: nowrap;
        border: 0;
        font-size: 1.5vw;
    }
    .allBlogs, .latestBlogs, .popularBlogs{
        width: 24%;
    }
    .horizontal-scroll {
        display: flex !important;
        justify-content: center;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0 !important;
        margin: 0 !important;
        list-style: none;
    }
    .horizontal-scroll::-webkit-scrollbar {
        height: 3px;
        background: #f0f0f0;
    }

    .horizontal-scroll::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }
    .horizontal-scroll::-webkit-scrollbar {
        display: none;
    }
    .horizontal-scroll:hover::-webkit-scrollbar {
        display: block;
    }
    /* .horizontal-scroll li {
        display: inline-block !important;
        padding: 10px 20px !important;
        margin-right: 10px !important;
        background: #f0f0f0;
        border-radius: 5px !important;
        cursor: pointer;
        white-space: nowrap;
    } */

    .horizontal-scroll li:last-child {
        margin-right: 0 !important;
    }
        @media screen and (max-width: 768px){
            .blog-page{
                margin-top: 6rem;
                margin-bottom: 4rem;
            }
            .allBlogs, .latestBlogs, .popularBlogs {
                width: 32% !important;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                scroll-snap-align: start;
            }
        }
        @media screen and (max-width: 600px){
            .blog-page {
                margin-top: 6rem;
                margin-bottom: 4rem;
                padding-bottom: 20vw;
            }
            .allBlogs, .latestBlogs, .popularBlogs {
                width: 48% !important;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                scroll-snap-align: start;
            }
            .blog-page-cont .mar-section {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                gap: 2vw;
                flex-wrap: wrap;
                gap: 2vw;
            }
            .allBlogbtn, .latestBlogbtn, .popularBlogbtn, .uploadblog{
                display: inline-block !important;
                padding: 6px 15px !important;
                margin-right: 10px !important;
                background: #f0f0f0;
                border-radius: 5px !important;
                cursor: pointer;
                white-space: nowrap;
                border: 0;
                font-size: 2.8vw;
            }
        }
        
        @media screen and (max-width: 350px){
            .blog-page {
                margin-top: 5rem;
                margin-bottom: 4rem;
            }
        }


    </style>


<div class="main-page blog-page">
    <div class="blog-page-cont">
        <ul class="horizontal-scroll">
            <li><button class="allBlogbtn active">All Blogs</button></li>
            <li><button class="latestBlogbtn">Latest Blogs</button></liid=>
            <li><button class="popularBlogbtn">Popular Blogs</button></lid=>
            <li><a class="uploadblog" style="color: #000;" target="_blank" href="/blog-form">Upload Your Blog</a></li>
        </ul>
            
            
            
        <div class="mar-section">
            

            <% blogs.forEach(blog => { %>
                <div class="allBlogs">
                    <a href="/blog-detail/<%= blog.canonical %>" class="blog-page-card">
                        <div class="mar-img">
                            <img class="ad-img" src="<%= blog.showImg %>" alt="<%= blog.title %>">
                        </div>
                        <div class="mar-desc">
                            <h3><%= blog.title %></h3>
                            <div><%= truncateString(blog.shortDescription) %></div>
                        </div>
                    </a>
                </div>

                <% if(blog.isLatest === true){ %>
                    <div class="latestBlogs"> 
                        <a href="/blog-detail/<%= blog.canonical %>" class="blog-page-card">
                            <div class="mar-img">
                                <img class="ad-img" src="<%= blog.showImg %>" alt="<%= blog.title %>">
                            </div>
                            <div class="mar-desc">
                                <h3><%= blog.title %></h3>
                                <div><%= truncateString(blog.shortDescription) %></div>
                            </div>
                        </a>
                    </div>
                <% } %>

                <% if(blog.isPopular === true){ %>
                    <div class="popularBlogs">
                        <a href="/blog-detail/<%= blog.canonical %>" class="blog-page-card">
                            <div class="mar-img">
                                <img class="ad-img" src="<%= blog.showImg %>" alt="<%= blog.title %>">
                            </div>
                            <div class="mar-desc">
                                <h3><%= blog.title %></h3>
                                <div><%= truncateString(blog.shortDescription) %></div>
                            </div>
                        </a>
                    </div>
                <% } %>
            <% }) %>
        </div>
    </div>
</div>

<script>
    const allBlogBtn = document.querySelector(".allBlogbtn");
    const popularBlogBtn = document.querySelector(".popularBlogbtn");
    const latestBlogBtn = document.querySelector(".latestBlogbtn");

    const allBlogs = document.querySelectorAll(".allBlogs");
    const popularBlogs = document.querySelectorAll(".popularBlogs");
    const latestBlogs = document.querySelectorAll(".latestBlogs");

    function showBlogs(blogsToShow, activeButton) {
        [allBlogs, popularBlogs, latestBlogs].forEach(blogs => 
            blogs.forEach(blog => blog.style.display = "none")
        );
        blogsToShow.forEach(blog => blog.style.display = "flex");
        
        [allBlogBtn, popularBlogBtn, latestBlogBtn].forEach(btn => btn.classList.remove("active"));
        activeButton.classList.add("active");
    }

    allBlogBtn.addEventListener("click", () => showBlogs(allBlogs, allBlogBtn));
    popularBlogBtn.addEventListener("click", () => showBlogs(popularBlogs, popularBlogBtn));
    latestBlogBtn.addEventListener("click", () => showBlogs(latestBlogs, latestBlogBtn));

    // Show All Blogs by default
    showBlogs(allBlogs, allBlogBtn);
</script>