<% layout("/layouts/boilerplate") %>
    <style>
        .bl {
            background-color: black;
        }

        .blog-page {
            margin-top: 10rem;
            margin-bottom: 4rem;
        }

        .blog-page-cont {
            margin-top: 2rem;
        }
        @media screen and (max-width: 768px){
            .blog-page{
                margin-top: 6rem;
                margin-bottom: 4rem;
            }
            .blog-page-card {
                width: 32%;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                scroll-snap-align: start;
            }
        }
        @media screen and (max-width: 600px){
            .blog-page {
                margin-top: 6rem;
                margin-bottom: 4rem;
                padding-bottom: 20vw;
            }
        }
        @media screen and (max-width: 350px){
            .blog-page {
                margin-top: 5rem;
                margin-bottom: 4rem;
            }
        }
    </style>


<div class="main-page blog-page">
    <div class="blog-page-cont">
        <div class="mar-section">
            <% blogs.forEach(blog => { %>
                <a href="/blog-detail/<%= blog.canonical %>" class="blog-page-card">
                    <div class="mar-img">
                        <img class="ad-img" src="<%= blog.bannerImage %>" alt="<%= blog.title %>">
                    </div>
                    <div class="mar-desc">
                        <h3><%= blog.title %></h3>
                        <div><%= truncateString(blog.shortDescription) %></div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</div>