<% layout("/layouts/boilerplate") %>
    <style>
        .bl {
            background-color: black;
        }

        .blog-page {
            margin-top: 10rem;
            margin-bottom: 4rem;
        }

        .blog-page-cont {
            margin-top: 2rem;
        }
    </style>


<div class="main-page blog-page">
    <div class="blog-page-cont">
        <div class="mar-section">
            <% blogs.forEach(blog => { %>
                <a href="/blog-detail/<%= blog.canonical %>" class="blog-page-card">
                    <div class="mar-img">
                        <img class="ad-img" src="<%= blog.bannerImage %>" alt="<%= blog.title %>">
                    </div>
                    <div class="mar-desc">
                        <h3><%= blog.title %></h3>
                        <div><%= truncateString(blog.shortDescription) %></div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</div>